h1 {
  text-align: center;
  text-shadow: 3px 2px gray;
  color: #000000;
}

p {
  text-align: center;
  color: #800080;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
} .container {
  width:80%;
  margin:0 auto;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
